extends layouts/main

block content
    .from__container
        form(method="post", action=routes.users+routes.changePassword)
            input(type="password", name="oldPassword", placeholder="Old Password", required=true)
            input(type="password", name="newPassword", placeholder="New Password", required=true)
            input(type="password", name="newPasswordConfirm", placeholder="New Password Confirm", required=true)
            input(Type="submit", value="Change Password")
            