extends layouts/main

block content
    div.form-container
        form(action=routes.users+routes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="name", name="name", placeholder="Name")
            input(type="file",  name="avatar", id="avatar") 
            input(type="submit", value="Edit Profile")
        a.form-container__link(href=routes.users+routes.changePassword value="") Change Password