extends layouts/main
include ./mixins/videoBlock
block content
    .search__header
        h3 Searching for #{term}
    .search__videos
        if videos.length === 0
            h5 Videos Not Found 
        else
            each video in videos
                +videoBlock(video)