extends layouts/main

block content
    div.form-container
        form(action=routes.videos+routes.upload, method="post", enctype="multipart/form-data")
            label(for="file") Video File
            input(type="file", name="file", required=true, accept="video")
            input(type="text", name="title", required=true, placeholder="Title")
            input(type="text", name="description", placeholder="Description")
            input(type="submit", value="Upload")