extends layouts/main

block content
    div.form__container
        form(action=routes.editVideo(video.id), method="post")
            label(for="file") Video File
            input(type="text", name="title", required=true, placeholder="Title", value=video.title)
            input(type="text", name="description", placeholder="Description", value=video.description)
            input(type="submit" value="Edit Video")
